@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



body{
   background-image: url("../images/000000000000001kanki.png");
    width: 1500px;
    height: 700px;
    border: 2px solid darkgoldenrod;
    color: brown;
    overscroll-behavior-x: contain;
    background-repeat: no-repeat;
}

#navbar{
    background-color: #000201;
    color: #d0d7ea;
    height:100px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;

}
.btn{
    padding:30px 100px;
    font-size:30px;
    text-decoration: none;
    color: #d0d7ea;
}
.btn:hover{
    background-color: #ba0072;
    color: #000c1d;
}
#result{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    padding:5%;

}

.area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
    border: 2px solid #000201;
    margin: 2%;
}